<head>
    <title>
        {{ page.title | escape }}
    </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">

    <meta name="title" content="{{ page.title | escape }}">
    <meta name="description" content="geoDavey Geospatial: viva la open source!">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:image" content="/assets/img/geoDavey_logo_banner.png">
    <meta property="twitter:image" content="/assets/img/geoDavey_logo_banner.png">

    <link rel="stylesheet" href="/assets/css/site.css">
    <script type="text/javascript" src="/assets/js/site.js"></script>
</head>
