.splash-container {
  &::after {
    display: block;
    content: "( loading ... )";
    position: absolute;
    font-style: italic;
    color: #aaa;
  }
  &:not(.loaded) {
    .splash {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
  &.loaded {
    .splash {
      opacity: 1;
      transition: opacity 6s cubic-bezier(0.25, 1, 0.5, 1);
    }

    &::after {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
  }
}

.menu {

    margin: 0.5em 0;

    img {
        width: 32px;
        height: 32px;
    }

    li {
        display: inline-block;
        margin: 0.1em;
        border: 0px solid #ccc;
        padding: 2px 6px;
        border-radius: 1em;

        &.title {
            padding: 2px 12px;
            margin-right: 12px;
            position: relative;

            &::after {
                position: absolute;
                display: block;
                content: " ";
                right: 0;
                top: 0%; height: 100%;
                width: 1px;
                background-color: #aaa;
                transform: rotate(25deg);
            }
        }
        &:not(.title) {
            &::before {
                font-size: 0.4em;
                display: inline-block;
                content: ""; // \FE0E to force non-emoji <3
                padding: 0 2px;
                vertical-align: middle;
            }
        }
    }


}

.is-size-99 {
    font-size: 6.5em;
}