.splash-container {
  &::after {
    display: block;
    content: "( loading ... )";
    position: absolute;
    font-style: italic;
    color: #aaa;
  }
  &:not(.loaded) {
    .splash {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }
  }
  &.loaded {
    .splash {
      opacity: 1;
      transition: opacity 3s ease-out;
    }

    &::after {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
  }
}
