.geoDavey-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;

  width: 100%;
  height: 100%;

  .map {
    flex-grow: 1;
  }
  .sidebar {
    width: 30%;

    .geophotos {
      display: flex;
      flex-wrap: wrap;

      .geophoto {
        position: relative;
        flex: 0 0 20%;
        min-width: 140px;
        margin: 1px;

        img {
          
        }
      }
    }
  }
}
