---
---
@charset "utf-8";

// Bulma
$column-gap: 0.1em;
$variable-columns: true;
$link: hsl(0, 0%, 21%);
$link-hover: hsl(217, 71%, 53%);

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";


//
// Fonts
//


@font-face {
    font-family: 'BadScript';
    font-style: normal;
    font-weight: 400;
    src: local('BadScript Web Regular'), local('BadScriptWeb-Regular'), url(/assets/fonts/badscript-web.woff2) format('woff2');
}

@font-face {
    font-family: 'Titillium';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(/assets/fonts/titillium-web.woff2) format('woff2');
}

//
// Global
//

$bg-color: lighten(#eae7e1, 5%);
$site-width: 512px;

html, body {
    width: 100%;
    height: 100%; 
    background-color: $bg-color;
}

body {
    font-family: 'Titillium';
    font-size: 10pt;
    color: #000;
}

.container {
    max-width: $site-width !important;

    &.padded {
        padding-bottom: 0.75em;
    }
}

.content {
    padding: 0 0.5em 0 0.5em;
    margin-bottom: 0 !important;

    li + li {
        margin-top: 0.8em !important;
    }
    
    &.nopadding {
        padding: 0 !important;
    }
}

.on-top {
    z-index: 999999;
}

.columns {
    &.reverse {
        display: flex;
        flex-direction: row-reverse;
    }
    .is-scentered {
        align-items: start;
    }
}

.is-badscript {
    font-family: 'BadScript';
}

.square {
    position: relative;
    width: 50%;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

//
// Home
//

body.home {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        padding: 0 0.5em;
    }

    .logo {
        width: 100%;
        height: 100%;
        max-width: $site-width;
        max-height: $site-width;
        margin-bottom: 1em;

        #globe {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            .ol-viewport {
                border-radius: 50%;
            }
        }

        img.overlay {
            display: none;
            position: absolute;
            width: 100%;
        }

        div.overlay {
            position: absolute;
            width: 100%;
            height: calc(100% + 6px);
        }

        div.menu {
            display: inline-block;
            padding: 2px 8px;
            border-radius: 4px;
            margin-top: 10%;
            background-color: rgba(255,255,255,0.9);
        }

        div.globe {
            background-image: url(/assets/img/geoDavey_logo_hollow_small_text_low.png);
            background-size: 100% 100%;
        }
    }

    .title {
        margin-bottom: 0.1em;

        & span.upside-down {
            display: inline-block;
            transform: rotate(-180deg) translateY(0.35em);
        }
    }

    .contact {
        margin: 0 auto;
        max-width: 290px;
        font-size: 0.9rem;
        .icon {
            vertical-align: middle;
            margin-right: 0.2em;
            width: 20px;
            height: 20px;
        }
    }

}
